# AWS Credentials (Leave blank if using IAM roles)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1

# S3 Bucket Configuration
AWS_S3_BUCKET_NAME=my-financial-data-lake-bucket

# Postgres / Data Warehouse settings
DB_HOST=localhost
DB_PORT=5432
DB_USER=airflow
DB_PASSWORD=airflow
DB_NAME=datawarehouse

# Airflow Admin
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
